:root{
	--TamNav: 4.625rem;
	--bgNav:#939597;
	--inkWell:#363945;
	--Buttercream:#EFE1CE;
}
html{
	font-family: Amita, arial;
	overflow: visible;
}
h2{
	font-size: 1.5em;
}
a{
	text-decoration: none;
}
nav a:not(:first-child){
	display: none;	
	color:rgb(212, 148, 51);
}
#headers{	
	position: sticky;
	top:0;	
	background:var(--bgNav);
	height: var(--TamNav);			
}
#text{		
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;	
	align-items: center;
	min-height: var(--TamNav);
}
#logo{
	position: relative;
	max-width: 4.6875rem;
	
}
.logito{
	max-width: 100%;	
}
.titulo{
	color:var(--Buttercream);
	padding:0 1.4375rem 0 0;
}
#menuBars{
	font-size: 2rem;
	color:var(--inkWell);	
}



